<form>
  <h1>Detalhes do produto</h1>

  <mat-form-field class="form">
    <mat-label>Nome </mat-label>
    <input matInput [(ngModel)]="item.nomeProduto" type="text" name="nomeProduto" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Preço </mat-label>
    <input matInput [(ngModel)]="item.precoProduto" type="text" name="precoProduto" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Temperatura</mat-label>
    <input matInput [(ngModel)]="item.temperaturaProduto" type="text" name="temperaturaProduto" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Estoque</mat-label>
    <input matInput [(ngModel)]="item.quantidadeProduto" type="text" name="quantidadeProduto" disabled>
  </mat-form-field>


  <button (click)="addToCart(item)" class="mat-elevation-z8" mat-stroked-button color="primary">Adicionar ao carrinho</button>


</form>