<form>
  <h1>Detalhes dos produtos comprados por venda!</h1>

  <mat-form-field class="form">
    <mat-label>id </mat-label>
    <input matInput [(ngModel)]="relatorio.id" type="text" name="id" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>cliente </mat-label>
    <input matInput [(ngModel)]="relatorio.cliente" type="text" name="cliente" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>produto </mat-label>
    <input matInput [(ngModel)]="relatorio.produto" type="text" name="produto" disabled>
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>quantidade </mat-label>
    <input matInput [(ngModel)]="relatorio.quantidade" type="text" name="quantidade" disabled>
  </mat-form-field>





</form>