<form>
  <h1>Selecione um cliente da nossa base de dados!</h1>

  <mat-form-field class="form">

    <mat-label>Cliente </mat-label>
    <input matInput type="text" name="cliente" placeholder="ex. Kaique Ferraz">
  </mat-form-field>

  <h1>Selecione um ou mais produtos da nossa base de dados!</h1>

  <mat-form-field class="form">
    <mat-label>Produto </mat-label>
    <input matInput type="text" name="produto" placeholder="ex. Skol">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>QTD </mat-label>
    <input matInput type="text" name="quantidade" placeholder="ex. 10">
  </mat-form-field>

  <div class="buttons-finalizar">
    <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">Realizar Venda</button>

    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar Venda</button>
  </div>


</form>