<H1>Preencha os campos para realizar uma venda</H1>

<form>

  <div>
    <H1>Selecione um cliente</H1>
    <label for="selectCliente">Cliente:</label>
    <select>
      <option *ngFor="let c of clientes" value="{{c.id}}">{{c.nome}}</option>
    </select>
  </div>

  <div>
    <H1>Selecione um ou mais produtos</H1>

    <ul *ngFor="let p of produtos">
      <li>{{p.nomeProduto}}</li>
      <button (click)="addToCart(item)">+</button>
    </ul>
  </div>


  <button ion-button block (click)="checkout()">Confirmar Pedido</button>

</form>


<div class="lista">
  <H1> Lista de itens</H1>
  <ul *ngFor="let item of itens">
    <li>{{item.produto.nomeProduto}}</li>
    <li>{{item.produto.precoProduto}}</li>
  </ul>


</div>