.footer {
  position: fixed;
  bottom: 0%;
  justify-content: center;
  height: 8%;
  background-color: dimgrey;
  margin-top: 2rem;
  border: 5px;
  border-color: black;
  border-style: double;
}

h1 {
  font-size: larger;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
