<div class="content">

  <div class="title">
    <h1>Nossos Produtos </h1>
  </div>

  <button class="mat-elevation-z8" (click)="navegarParaProdutoCreate()" mat-stroked-button color="primary">Cadastrar Novo Produto</button>


  <div class="mat-elevation-z8 content-table">

    <form class="pesquisar">

      <mat-form-field>
        <input matInput (ngModelChange)="pesquisarProdutos(key.value)" #key="ngModel" ngModel name="key" placeholder="Pesquisar por Nome.." autocomplete="off">
      </mat-form-field>

    </form>



    <table class="table" mat-table [dataSource]="produtos">


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row">{{row.id}} </td>
      </ng-container>


      <ng-container matColumnDef="nomeProduto">
        <th mat-header-cell *matHeaderCellDef> NOME </th>
        <td mat-cell *matCellDef="let row">{{row.nomeProduto}} </td>
      </ng-container>


      <ng-container matColumnDef="precoProduto">
        <th mat-header-cell *matHeaderCellDef> PREÇO </th>
        <td mat-cell *matCellDef="let row">{{row.precoProduto}} </td>
      </ng-container>

      <ng-container matColumnDef="quantidadeProduto">
        <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
        <td mat-cell *matCellDef="let row">{{row.quantidadeProduto}} </td>
      </ng-container>

      <ng-container matColumnDef="temperaturaProduto">
        <th mat-header-cell *matHeaderCellDef> TEMPERATURA </th>
        <td mat-cell *matCellDef="let row">{{row.temperaturaProduto}} </td>
      </ng-container>





      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef> EDITAR/EXCLUIR </th>
        <td mat-cell *matCellDef="let row">

          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>

          <a class="delete" routerLink="delete/{{ row.id }}">
            <i class="material-icons">delete</i>
          </a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>