<form>
  <h1>Preencha os campos para criar um novo produto!</h1>

  <mat-form-field class="form">
    <mat-label>Nome </mat-label>
    <input matInput [(ngModel)]="produto.nomeProduto" type="text" name="nomeProduto" placeholder="ex. skol">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Preço </mat-label>
    <input matInput [(ngModel)]="produto.precoProduto" type="text" name="precoProduto" placeholder="ex. 1.99">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Quantidade </mat-label>
    <input matInput [(ngModel)]="produto.quantidadeProduto" type="text" name="quantidadeProduto" placeholder="ex. 500">
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Temperatura </mat-label>
    <input matInput [(ngModel)]="produto.temperaturaProduto" type="text" name="temperaturaProduto" placeholder="ex. 500">
  </mat-form-field>






  <div class="buttons">
    <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="primary">Criar</button>

    <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
  </div>


</form>