<div class="content">

  <div class="title">
    <h1>Resumo geral das vendas por
      periodo </h1>
  </div>


  <div class="mat-elevation-z8 content-table">


    <form class="pesquisar">

      <mat-form-field>
        <input matInput [(ngModel)]="dataVenda" name="dataVenda" placeholder="Pesquisar por data.." autocomplete="off">
      </mat-form-field>

    </form>



    <table class="table" mat-table [dataSource]="relatorioSintetico | filter : dataVenda">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row">{{row.id}} </td>
      </ng-container>


      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef> CLIENTE </th>
        <td mat-cell *matCellDef="let row">{{row.cliente.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="dataVenda">
        <th mat-header-cell *matHeaderCellDef> DATA-VENDA </th>
        <td mat-cell *matCellDef="let row">{{row.dataVenda}} </td>
      </ng-container>

      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> VALOR-TOTAL </th>
        <td mat-cell *matCellDef="let row">{{row.valorTotal | number:'1.2-2'}} </td>
      </ng-container>



      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef> ANALÍTICO </th>
        <td mat-cell *matCellDef="let row">

          <a class="edit" routerLink="relatorioAnalitico/{{ row.id }}">
            <i class="material-icons">folder_open</i>
          </a>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>